<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Türev-İntegral</title>

    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>

    <div class="container" style="text-align: center">

        <h1>Türev - İntegral hesaplayıcı</h1>

            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="Türev al"> <input type="submit" name="action" value="İntegral al">

            </form>

        $${{ value }}$$
        <hr>
        $${{ diff }}$$

    </div>

</body>
</html>