<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Türev-İntegral</title>

    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>

    <div class="container" style="text-align: center; font-size: 200%">

        <h1>Türev - İntegral Hesaplayıcı</h1>

            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="Türev al"> <input type="submit" name="action" value="İntegral al">

            </form>

        {% if flag == 0 %}
        $${{ value }}$$
        <hr>
        $${{ diff }}$$
        {% elif flag == 1 %}
        <h1>Türev alınamadı</h1>
        {% elif flag == 2 %}
        <h1>İntegral alınamadı</h1>
        {% elif flag == 3 %}
        <h1>Denklemi ve değişkenleri tam girin.</h1>
        {% endif %}

    </div>

    <div class="footer" style="font-size: 100%"><div style="text-align: right; padding-right: 20%; padding-top: 5%"><b>Batu Berk</b></div></div>

</body>
</html>